<!DOCTYPE html>
<html>
    <head>
        <title>FlaskDrive</title>
        <link rel="stylesheet" href= {{ url_for('static',filename='styles/styles.css') }}>
        <script type="text/javascript" src="{{ url_for('static', filename='JS/map.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      </head>
  
  <body>

    <div class="content">
        <div>
          <h3>These are your uploaded files:</h3>
          <p>Click on the filename to download it.</p>
          <ul>
            {% for item in contents %}
              <li>
                <a href="/download/{{ item.Key }}"> {{ item.Key }} </a>
              </li>
            {% endfor %}
          </ul>
    
        </div>
    </div>
  </body>
</html>